<div class="jumbotron">
  <h1 class="display-4">Bonjour! C'est VisiteurProfil Application</h1>
  <p class="lead">
    Cette Application vous permettra de consulter la liste des utilisateurs et
    leurs profil détaillés
  </p>
  <hr class="my-4" />
  <p>Comment ca marche ? veuillez suivre les étapes suivantes :</p>
  <ul>
    <li>
      <strong>Pour consulter la liste des utilisateurs : </strong> cliquer sur
      le boutton "Utlisateurs"
      <a class="btn btn-primary m-2" role="button" [routerLink]="['/users']"
        >Utlisateurs</a
      >
    </li>
    <br />
    <li>
      <strong
        >Pour consulter un profil détaillé avec la liste des dépôts :</strong
      >
      saisir le nom utilisateur dans la barre de recherche
    </li>
    <li>
      <strong>Pour consulter les statistiques d'un depots:</strong> une fois sur
      le profil choisissez un repository et cliquer sur statistiques
    </li>
    <li>
      <strong>Source Apis:</strong>
      <a href="https://github.com/anas-senhaji/khalil-fezzani">
        https://github.com/anas-senhaji/khalil-fezzani</a
      >
    </li>
  </ul>
</div>
